@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Delius&display=swap');


body {
    background-color: #e8e8e8;
    font: normal 16px 'Playfair Display', serif;
}

#crtBgShape1,
#crtBgShape2 {
    position: fixed;
    z-index: -1;
}

#crtBgShape1 {
    top: 0;
    left: 0;
    fill: #d0d0d0;
}

#crtBgShape2 {
    right: -100px;
    top: -100px;
    fill: #2EB474;
}

.wrapper {
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: auto;
    padding-top: 33px;
}

.card {
    margin-bottom: 20px;
    box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px 20px;
}

.card-name h2 {
    font-size: 43px;
    margin: 15px 0px;
    color: #2EB474;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
}

.left-panel {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.avatar {
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.info {
    display: block;
    box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}

.info-header {
    background: #2EB474;
    padding: 20px 25px;
    color: #ffffff;
}

.info-text {
    text-align: center;
    font: normal 22px 'Cabin Sketch', cursive;
}

.info-text h3 {
    margin: 10px 0;
}

.fio {
    font-size: 20px;
    text-transform: uppercase;
}

.fio h2 {
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-img {
    margin: 5px;
    width: 27px;
    height: 27px;
}

.contacts {
    padding: 20px 20px 20px;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.contacts i {
    font-size: 16px;
    margin-right: 5px;
    color: black;
}

.contacts h2,
.contacts h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font: 19px 'Delius', cursive;
}

.hobby {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.hobby-items {
    display: block;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.hobby-img {
    margin: auto;
    display: block;
    width: 43px;
    height: 43px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

.right-panel {
    background-color: transparent;
    border-color: #e1e1e1;
    border: 10px gray;
}

.about-me h3 {
    font: normal 16px 'Delius', cursive;
}

.place-of-work {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    font-family: 'Delius', cursive;
}

.place-of-work h2,
h3 {
    margin: 0px;
}

.company-with-period {
    text-align: center;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.period h3 {
    font-size: 18px;
    font-weight: normal;
    word-wrap: nowrap;
}

.position {
    padding: 0 10px;
    flex-grow: 3;
}

.position h2 {
    padding: 0px 5px;
    font-size: 20px;
    font-weight: normal;
}

.description {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}

.description p {
    margin-top: 5px;
}


.skills h3 {
    font: bold 16px 'Delius', cursive;
}


.educational-institution {
    font-family: 'Delius', cursive;
    margin-bottom: 30px;
}

.educational-institution-name h3{
    font-size: 23px;
}

.achievements {
    margin-left: 20px;
}

.achievements h3 {
    font-size: 21px;
    font-weight: bold;
}

.achievements div {
    margin-left: 20px;
}

.achievements h4 {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.achievements-level h3{
    font-weight: normal;
    font-size: 19px;
}

.achievements-level h4{
    font-weight: normal;
    font-size: 17px;
}


@media (max-width: 1025px) {
    .container {
        display: block;
        text-align: center;
    }

    .left-panel {
        margin-right: 0px;
    }

    .place-of-work {
        display: block;
    }
}